<div id="home">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            WAVIISOFT
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#technologies">Technologies</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                </li>
    
            </ul>
        </div>
    </nav>
    <div class="landing">
        <div class = "home-wrap">
            <div class="home-inner">
                
            </div>
        </div>
    </div>
    <div class="caption text-centre">
        <h1>Green Rise Capital Corp</h1>
        <h5>TSXV: GRCC.P</h5>
        <label>Green Rise Capital Corp is a Capital Pool Company (CPC) established to complete a qualifying transaction.    The company's investment objective is to create shareholder value through the identification of high value companies.  </label>
    </div>
    </div>